	body {
		font-family: 'Roboto';
		font-size: 14px;
		position: relative;
		/*background-color: #EEE;*/
	}
	h1, h2, h3, h4, h5, h6, footer p, header {
		font-family: 'Arvo';
	}
	p {
		letter-spacing: .3pt;
	}
	a:focus {
		outline: none;
	}

/*#####################  BARRA DE NAVEGAÇÃO #########################*/

	header.top-navbar {
		position: fixed;
		z-index: 9999;
	}
	div.logo-img {
		position: inherit;
		top: 10px;
		left: calc(20% - 30px);
		display: inline-block;
		float: left;
		cursor: pointer;
	}
	div.logo-img > a > img {
		width: 54%;
	}
	nav.jr-navbar {
		background-color: #3C8FBE;
		position: inherit;
		z-index: -1;
		top: 67px;
		text-align: right;
		padding: 5px 17.8%;
		width: 100%;
		min-height: 0!important;
		border: none!important;
		border-radius: 0!important;
	}
	.navbar-default {
		border-color: transparent;
	}
	nav.jr-navbar div.collapse {
		padding-left: 0;
		padding-right: 0;
	}
	nav.jr-navbar ul {
		margin-bottom: 2px;
		float: right;
	}
	nav.jr-navbar ul > li.menu-itens {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
	nav.jr-navbar ul > li.menu-itens:first-of-type {
		margin-left: 0;
	}
	nav.jr-navbar ul > li.menu-itens:first-of-type a {
		padding-left: 0;
	}
	nav.jr-navbar ul > li.menu-itens:last-of-type {
		margin-right: 0px;
	}
	nav.jr-navbar ul > li.menu-itens:last-of-type a {
		padding-right: 0;
	}
	li.menu-itens > a {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		padding-top: 0!important;
		padding-bottom: 0!important;
	}
	li.menu-itens a:hover {
		/*border-bottom: 2px solid #1E253A;*/
		color: #1E253A;
		transition: all 0s;
		-moz-transition: all 0s; /* Firefox 4 */
		-webkit-transition: all 0s; /* Safari and Chrome */
		-o-transition: all 0s; /* Opera */
	}

	.navbar-large {
		padding: 20px 17.8%!important;
		top: 0!important;
	}
	.logo-large {
		top: 0!important;
	}
	.logo-large > a > img {
		width: 35%!important;
	}

	header,nav, a, img, li{
		transition: all .5s ease;
		-moz-transition: all .5s ease; /* Firefox 4 */
		-webkit-transition: all .5s ease; /* Safari and Chrome */
		-o-transition: all .5s ease; /* Opera */
	}

/*########################### FOOTER ###################################*/

	footer {
		height: 101px;
		background-color: #1E253A;
		position: relative;
		top: 150px;
		padding: 10px 240px;
		color: #fff;
		/*line-height: 1;*/
	}

	footer, footer a, footer a:visited {
		color: #fff;
		text-decoration: none;
	}

	footer a:hover {
		color: #3C8FBE;
		text-decoration: none;
	}

	.fa {
		font-size: 40px;
	}
	
	#dados-contato {
		margin: 10px 0;
	}

	#social-links {
		text-align: right;
		margin: 10px 0;
	}

	#social-links a {
		margin: 0 3px;
	}

/*####################### CORPO PRINCIPAL ##############################*/

	div.wrapper {
		width: 100%;
		display: inline-block;
	}
	div.inner-wrapper {
		top: 200px;
		float: none!important;
		margin: 0 auto;
	}
	div.inner-wrapper > section {
		min-height: 342px;
		border-bottom: 1px solid #1E253A;
		padding-bottom: 50px;
		margin-bottom: 50px;
	}
	div.inner-wrapper > section:last-of-type {
		border: none;
	}
	div.description-txt {
		margin-top: 40px;
	}

/*###################### FORMULARIOS ###################################*/

	#contato h2 {
		margin-bottom: 20px;
	}
	#processo-seletivo h2 {
		margin-bottom: 50px;
		padding-bottom: 25px;
		border-bottom: 1px solid;
	}
	label {
		width: 29%;
	}
	input, textarea, select {
		width: 70%;
		margin-bottom: 15px;
		height: 40px;
		border: none;
		background-color: #ccc;
		padding: 10px;
	}
	input:focus, textarea:focus, select:focus {
		outline: none;
		box-shadow: 0 0 15px #ccc;
	}
	textarea {
		resize: none;
	}
	#email {
		box-shadow: none!important;
	}
	input[type="submit"] {
		font-family: 'Arvo';
		position: relative;
		width: 125px;
		left: calc(100% - 130px);
		color: #fff;
		background-color: #1E253A;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	input[type="submit"]:hover {
		box-shadow: 0px 0px 10px #000 inset;
	}
	input[type="submit"]:focus {
		outline: none;
	}
	.form-error {
		text-transform: uppercase;
		text-align: right;
		color: #CD0000;
		position: relative;
		right: 5px;
		font-weight: 600;
		font-size: 12px;
	}
	#thanks {
		position: relative;
  		height: 393px;
	}
	#thanks img {
		position: absolute;
	}
	#thank-txt {
		text-align: center;
		position: relative;
		top: 100px;
		width: 915px;
		text-transform: uppercase;
		font-size: 18px;
	}
	#charNum {
		text-align: right;
		padding: 0 10px;
		margin-bottom: 20px;
		font-weight: 900;
	}

	/*###################### SEÇÃO PARCEIROS - DOCK ###########################*/

	section#parceiros {
		padding-bottom: 0!important;
		text-align: center;
	}
	section#parceiros h2 {
		text-align: left;
	}
	.info-partners {
		height: 154px;
		margin-top: 35px;
		min-height: 92px;
		padding: 10px 55px;
		text-align: center;
		background-color: #eee;
		border-radius: 15px;
		border: 1px solid;
		display: inline-block;
		text-transform: uppercase;
		width: 85%;
	}
	.info-container p {
		margin: 45px 0;
		float: right;
		width: 45%;
	}
	.info-img {
		float: left;
		width: 50%;
	}
	.info-img.di img {
		min-width: 235px;
	}
	.info-img.loco img {
		min-width: 235px;
	}
	.info-container .dijr a {
		color: #002A3E;
	}
	.info-container .locojr a {
		color: #EF3E3E;
	}
	.info-container .interagejr a {
		color: #009F62;
	}
	.info-container .lotusjr a {
		color: #0D911F;
	}
	.info-container a {
		margin: 0 2px;
	}
	.info-container .fa {
		font-size: 35px;
	}
	.info-container .fa-external-link {
		position: relative;
		top: 2px;
	}
	.listing-partners {
		position: relative;
  		top: 2px;
	}
	#osxdock-page {
	    color: #fff;
	    padding-bottom: 2em;
	    margin-bottom: -2em;
	}
	#osxdock-page h1,#osxdock-page h2 {
	    color: #fff;
	}
	div.cap {
	    display: block;
	    height: 100px;
	    width: 40px;
	    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/151734/dock-background-left.png) bottom left no-repeat;
	}
	div.cap.left {
	    position: absolute;
	    bottom: 0px;
	    left: 0px;
	}
	div.cap.right {
	    background-position: right bottom;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	}
	ul.osx-dock {
	    display: inline-block;
	    height: 130px;
	    padding: 0 40px 0 0;
	    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/151734/dock-background-left.png) no-repeat right bottom;
	    overflow: hidden;
	    margin: 0 0 0 40px;
	}
	ul.osx-dock li {
	    display: block;
	    position: relative;
	    float: left;
	    width: 50px;
	    height: 50px;
	    margin: 60px 8px 4px;
	    -webkit-transition: 0.15s linear;
	    -webkit-transition-property: -webkit-transform margin;
	    text-align: center;
	}
	ul.osx-dock li a {
	    display: block;
	    height: 50px;
	    padding: 0 1px;
	    -webkit-transition: 0.15s linear;
	    -webkit-transition-property: -webkit-transform margin;
	    margin: 0;
	    -webkit-box-reflect: below 2px -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(0.45,transparent),to(rgba(255,255,255,0.25)));
	}
	ul.osx-dock li a img {
	    width: 48px;
	}
	ul.osx-dock li:hover {
	    margin-left: 13px;
	    margin-right: 13px;
	    z-index: 200;
	}
	ul.osx-dock li:hover a {
	    -webkit-transform-origin: center bottom;
	    -webkit-transform: scale(1.5);
	}
	ul.osx-dock li.nearby {
	    margin-left: 6px;
	    margin-right: 6px;
	    z-index: 100;
	}
	ul.osx-dock li.nearby a {
	    -webkit-transform-origin: center bottom;
	    -webkit-transform: scale(1.25);
	}
	ul.osx-dock li span {
	    background: rgba(0,0,0,0.75);
	    position: absolute;
	    bottom: 80px;
	    margin: 0 auto;
	    display: none;
	    width: auto;
	    font-size: 11px;
	    font-weight: bold;
	    padding: 3px 6px;
	    -webkit-border-radius: 6px;
	    color: #fff;
	}
	ul.osx-dock li:hover span {
	    display: block;
	}
	div#dockContainer {
	    position: relative;
	    bottom: 12px;
	    height: 120px;
	    padding: 50px 0 0;
	    text-align: center;
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    width: 100%;
	    line-height: 1;
	    z-index: 100;
	}
	div#dockWrapper {
	    width: auto;
	    display: inline-block;
	    position: relative;
	    /*border-bottom: solid 2px rgba(255,255,255,.35);*/
	    line-height: 0;
	}
	#dockContainer,#dockContainer * {
	    -webkit-box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    box-sizing: content-box;
	}